<p>users works!</p>
<div class="toolbar" role="banner">
    <img width="60" alt="Tune-In Logo" src="../assets/Tune-In-logos_black.png"/>
    <span>Tune-In</span>
    <div class="toolbarLoginBtn">
        <button routerLink = "/login">
            <span>Login</span>
        </button>
    </div>
</div>
<div class="sideNavBar">
    <a href="#" onclick="document.getElementById('login_screen').style.display = 'none';document.getElementById('registration_form').style.display = 'none'">Home</a>
    <a href="#">Playlists</a>
    <a href="#">Subscription</a>
    <a href="#">Reviews</a>
</div>
<div class="content" role="main">
    <h2>{{mode}} Project Proposal Form</h2>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <table style="width: 102%;" >
        <tr>
            <td>
                <label class="label" for="first-name">First Name: </label>
                <input matInput id="first-name" type="text" [(ngModel)]="firstName" formControlName="firstName">
            </td>
            <td>
                <label class="label" for="last-name">Last Name: </label>
                <input matInput id="last-name" type="text" [(ngModel)]="lastName" formControlName="lastName">
            </td>
        </tr>
        <tr>
            <td>
                <label class="label" for="email">Email: </label>
                <input matInput id="email" type="text" [(ngModel)]="email" formControlName="email">
            </td>
            <td>
                <label class="label" for="phone">Phone: </label>
                <input matInput id="phone" type="text" [(ngModel)]="phone" formControlName="phone">
                
            </td>    
        </tr>
        <tr>   
            <td> 
                <label for="jobTitle">Job Title: </label>
                <input class="widthStyle" matInput id="jobTitle" type="text" [(ngModel)]="jobTitle" formControlName="jobTitle">
            </td>  
        </tr> 
        <tr>
            <td>
                <label for="projectTitle">ProjectTitle: </label>
                <input class="widthStyle" matInput id="projectTitle" type="text"  [(ngModel)]="projectTitle" formControlName="projectTitle">
            </td>
            
        </tr>
    
        <div class="panel panel-default" formGroupName="organizationAddress"> 
        <tr><td><strong>Organization Address: </strong></td></tr>
        <tr>
            <td>
                <label class="label" for="street">Street: </label>
                <input matInput id="street" type="text" [(ngModel)]="street" formControlName="street">
            </td>
            <td>
                <label class="label" for="city">City: </label>
                <input matInput id="city" type="text"  [(ngModel)]="city" formControlName="city">
            </td>
        </tr>
    
        <tr>
            <td>
                <label class="label" for="state">State: </label>
                <input matInput id="state" type="text" [(ngModel)]="state" formControlName="state">
            </td>
            <td>
                <label class="label" for="zip">Zip: </label>
                <input matInput id="zip" type="number" [(ngModel)]="zip" formControlName="zip" (change)="getCityByZip('zip')">
            </td>
        </tr>
        </div>
        <tr>   
            <td> 
                <label for="descriptionOfProject">Description Of Project: </label>
                <input class="widthStyle" matInput id="descriptionOfProject" type="text" [(ngModel)]="descriptionOfProject" formControlName="descriptionOfProject">
            </td>  
        </tr> 
        <tr>
            <td>
                <label for="technicalSkillsRequired">Technical Skills Required: </label>
                <input class="widthStyle" matInput id="technicalSkillsRequired" type="text" [(ngModel)]="technicalSkillsRequired" formControlName="technicalSkillsRequired">
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
    </form>
    
          
    
        
      
        
     
       
    
      
        
    
    
    
    
    