<div>
    <img class="logoImage" src="../assets/Tune-In-logos_black.png" alt="Logo">
</div>

<form id="login_screen" class="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">       
    <div>
        <label for="userName"><b>Username : </b></label>
        <input class = "loginFormLabel" type="text" name="userName" required>

        <label for="password"><b>Password : </b></label>
        <input class = "loginFormLabel" type="password" name="password" required>

        <button class="loginButton" type="submit">Login</button>
    </div>
    <div>
        <span><a href="#"> Forgot password?</a></span>
    </div>
    <hr class = "seperateSection">
    
</form>
<div id="login_screen_text">
    <p class = "signUpText" ><strong>Don't have an account ?</strong></p>
    <button onclick="document.getElementById('login_screen_text').style.display = 'none'; document.getElementById('login_screen').style.display = 'none'; document.getElementById('registration_form').style.display = 'block';"  class="signupButton">Sign-Up for Tune-In</button>
</div>

<form style="display: none;" id="registration_form" class="registrationForm" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div>
        <!-- <h2 style="margin-left: 26%;">Registration Form</h2> -->
        <label for="first-name"><b>First Name : </b></label>
        <input matInput id="first-name" class = "registrationFormLabel" type="text" [(ngModel)]="firstName" formControlName="firstName" required>

        <label for="last-name"><b>Last Name : </b></label>
        <input matInput id="last-name" class = "registrationFormLabel" type="text" [(ngModel)]="lastName" formControlName="lastName" required>

        <label for="email"><b>Email : </b></label>
        <input matInput id="email" class = "registrationFormLabel" type="text" [(ngModel)]="email" formControlName="email" required>

        <label for="password"><b>Password : </b></label>
        <input matInput id="password" class = "registrationFormLabel" type="text" [(ngModel)]="password" formControlName="password" required>
    </div>
    <div>
        <button class="registrationBtn" type="submit">Register</button>
    </div>
</form>