<div class="sideNavBar">
    <a href="/Open">Home</a>
    <a href="/playlists">Playlists</a>
    <a href="/subscriptions">Subscription</a>
    <a href="/reviews">Reviews</a>
</div>

<div class="content">
    <h1>Tune In Home works!</h1>
    <img src="../assets/images/homeimage.png" width="100%" alt="Welcome Banner"/>
</div>

<!--<div class="profileMenu">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon></mat-icon>
        <span></span>
    </button>
    
    <mat-menu  #menu="matMenu">
        <button mat-menu-item routerLink = "/listUsers">
            <span>List Users</span>
        </button>
        <button mat-menu-item routerLink = "/RegisterUser">
            <span>RegisterUser</span>
        </button>
    </mat-menu>
</div>-->