<div class="sideNavBar">
    <a href="/Open">Home</a>
    <a href="/playlists">Playlists</a>
    <a href="/subscriptions">Subscription</a>
    <a href="/reviews">Reviews</a>
</div>

<div class="profileContent">
    <div class="profileTitle">Account Overview</div>
    <div class="profileSubTitle">Profile</div>
    <table class="myProfile">
        <tbody>
            <tr>
                <td>First Name</td>
                <td>Vinni</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>Cutie</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>vinni.cutie@gmail.com</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>*************</td>
            </tr>
            <tr>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>