<ul>
    <li class="toolbar">
        <a href="#"><img width="40" alt="Tune-In Logo" src="../assets/Tune-In-logos_black.png"/></a>
        <span>Tune-In</span>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">
            <img width="20%" src="../assets/images/account-icon.png" alt="Profile Icon" />
        </a>
        <span style="color: white;">Profile</span>
      <div class="dropdown-content">
        <a href="/listUsers">Account</a>
        <a href="#">Logout</a>
      </div>
    </li>
  </ul>


<router-outlet></router-outlet>